<div class="row">
  <span class="label">社員番号</span>
  <span><%= employee.number %></span>
</div>

<div class="row">
  <span class="label">氏名</span>
  <span><%= "#{employee.last_name} #{employee.first_name}" %></span>
</div>

<!-- 入社年月日を追加 -->
<div class="row">
  <span class="label">入社年月日</span>
  <span><%= employee.date_of_joining.year.to_s+"年"+employee.date_of_joining.month.to_s+"月"+employee.date_of_joining.day.to_s+"日" %></span>
</div>

<div class="row">
  <span class="label">部署</span>
  <span><%= employee.department.name %></span>
</div>

<!-- オフィスを追加 -->
<div class="row">
  <span class="label">オフィス</span>
  <span><%= employee.office.name %></span>
</div>
