<%= form_with model: Article.new, url: '/articles', local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>内容</h4>
  <%= f.text_area :content %>
  <h4>投稿者</h4>
  <%= f.text_field :author %>
  <%= f.submit '投稿' %>
<% end %>
